<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIBGYOR</title>
    <link rel="stylesheet" href="../static/homepage.css">

</head>
<body>
    <div class="navbar-container">
        <div>
            <ul class="navbar-components">
                <li class="nav-element"><a>HOME</a></li>
                <li class="nav-element"><a>ABOUT</a></li>
                <li class="nav-element nav-center"><a>VIBGYOR</a></li>
                <li class="nav-element nav-right" ><a>Login/Signup</a></li>
            </ul>
        </div>
    </div>
    
</body>
</html>