<!DOCTYPE html>
<html lang="en">
<head>
    <title>VIBGYOR | LOGIN</title>
    <link rel="stylesheet" href="../static/loginpage.css">
</head>

<body>
    <div class="formparent">
        <fieldset>
            <form>
                <div>
                <label for="uname">Username/Phone</label>
                <input id="uname" type="text">
                </div>
                <div>
                <label for="passwd">Password</label>
                <input type="password" id="passwd">
                </div>

                <a href="/signup">new here? Signup</a>
            </form>
        </fieldset>
    </div>
</body>
</html>