*{
    margin:0;
    padding:0;
    font-family:Roboto,sans-serif;
}

navbar{
    
    display:flex;
    float:left;

}
.nav-element{
    float:left;
}

.nav-right{
    float:right;
}
.nav-element a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.nav-center{
    
        text-align:center;
        width:80%;
       
    
}
.nav-element a:hover{
    background:brown;
}


.navbar-components{
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  width
}

